#header-image {
  float: right;
  border-radius: 50%;
  display: block;
  max-width: 430px;
  padding-left: 20px;
  padding-bottom: 20px;
}

.jumbotron {
  background-image: linear-gradient(rgb(115, 26, 26),rgb(110, 219, 244),#fff);
}

.img-thumbnail {
  float: left;
  max-height: 450px;
}

.centered-image {
  display: block;
  margin: auto;
}

.th:scope {
  width: 400px;
  overflow: hidden;
}

.card {
  width: 45%;
  float: left;
  padding: 20px;
  margin: 10px;
 /* border: 0px solid rgb(174, 197, 30); */
  background-color: floralwhite;
  box-sizing: border-box;
}

.list {
  line-height: 26px;
  margin: 7px;
}

.list-group-item {
  background-color: floralwhite;
}