#header-image {
  float: right;
  border-radius: 50%;
  display: block;
  max-width: 375px;
  padding: 10px;
}

.img-thumbnail {
  float: left;
  max-height: 450px;
}

.centered-image {
  display: block;
  margin: auto;
}

.th:scope {
  width:400px;
  overflow: hidden;
}