body {
  background-color: cadetblue;
}

.container {
  background-color: #fff;
  padding: 1.75rem;
}

#header-image {
  float: right;
  border-radius: 50%;
  display: block;
  max-width: 430px;
  margin-bottom: 1rem;
  margin-left: 1rem;
  border: .5rem solid #fff;
}

.jumbotron {
  background-image: linear-gradient(rgb(115, 26, 26),rgb(110, 219, 244),#fff);
}

h2 {
  font-size: 2.5rem;
  font-weight: 300;
  line-height: 2;
}

.img-thumbnail {
  float: left;
  max-height: 450px;
  margin-right: 20px;
  padding: 8px;
  background-color: #fff;
  border: 1px solid #dee2e6;
  border-radius: 0.25rem;
  height: auto;
}

.firstline {
    font-size: 1.10rem;
    font-weight: 300;
}

.centered-image {
  display: block;
  margin: auto;
}

.scope {
  width: 400px;
  overflow: hidden;
}

.card {
  width: 45%;
  float: left;
  padding: 20px;
  margin: 10px;
  background-color: floralwhite;
  box-sizing: border-box;
}

.list {
  line-height: 26px;
  margin: 7px;
}

.list-group-item {
  background-color: floralwhite;
}

.containerwithin {
  background-color: rgb(255, 255, 255);
  padding-left: 3rem;
  padding-right: 3rem;
  padding-bottom: 3rem;
  display: block;
  box-sizing: border-box;
}

.language {
  width: 20%;
}

.table {
  table-layout: fixed;
}
